
  
p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }
  
  a {
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;
    font-family: monospace;
    text-decoration: none;
    border-bottom: 3px #e26fff dashed;
    text-shadow: 1px 1px #000000;
    text-align: center;
  }
  
  .style_btn {
    margin-top: 20px;
    color: rgb(209, 99, 252);
    font-style: italic;
    border-bottom: 3px #faf9fa double;
    text-shadow: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .style_btn:hover {
    border-bottom: 2px #ebfc00 dotted;
    color: #ebfc00;
  }
  
  #style_label {
    font-size: 20px;
    color: rgb(25, 26, 23);
    font-weight: bold;
    margin-right: 10px;
  }
  
  select {
    height: 30px;
    width: 100px;
    font-style: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .mini_label {
    color: #020202;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .form_wrap {
    position: relative;
    text-align: center;
    border-style: double;
    border-color: rgb(238, 255, 0);
    border-width: 3px;
    display: inline-block;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 10px;
  }
  
  #input_par {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #input_par[type="number"]:focus {
    background-color: rgb(230, 217, 238);
    border: 3px solid rgb(153, 1, 255);
    color: rgb(255, 255, 255);
    font-size: 16px;
  }
  
  #main_header {
    color: #332f5a;
    text-shadow: 1px 1px rgb(255, 255, 255);
    text-align: center;
    font-size: 36px;
    margin-bottom: 5px;
  }
  
  a:active {
    color: red;
  }
  
  a:hover {
    color: #c300ff;
    border-bottom: 2px #000000 dashed;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    text-decoration: underline dashed;
    text-shadow: 2px 1px #24282c;
  }
  
  label {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline overline dotted snow;
  }
  
  #login_form {
    text-align: center;
    justify-content: center;
    display: inline;
    margin-top: 15px;
    height: 100px;
    width: 500px;
  }
  
  input {
    border-radius: 2px;
    margin-top: 15px;
    height: 27px;
    width: 150px;
    border-radius: 25px;
    padding-left: 10px;
  }
  
  #pass_label {
    margin-left: 20px;
  }
  
  input[type="text"]:focus {
    background-color: rgb(230, 217, 238);
    border: 3px solid rgb(153, 1, 255);
    color: rgb(255, 255, 255);
    font-size: 16px;
  }
  
  input[type="password"]:focus {
    background-color: rgb(230, 217, 238);
    border: 3px solid rgb(153, 1, 255);
    color: rgb(255, 255, 255);
    font-size: 16px;
  }
  
  h1 {
    color: rgb(87, 31, 190);
    text-shadow: 1px 1px rgb(184, 182, 182);
    text-align: center;
    font-size: 25px;
    font-style: italic;
    margin-bottom: 5px;
  }
  


html {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2c71f31c-d62e-4c14-b189-42d2fa1e0046/dai2dfu-a92854d5-e26d-4ce8-ab96-c2e6dd7eeb58.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMmM3MWYzMWMtZDYyZS00YzE0LWIxODktNDJkMmZhMWUwMDQ2XC9kYWkyZGZ1LWE5Mjg1NGQ1LWUyNmQtNGNlOC1hYjk2LWMyZTZkZDdlZWI1OC5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.uY4KTgnmHobpJOAPgvZVEu3hcrw4bLGT6WrN8XZlirE");
  background-color: rgb(206, 114, 235);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  text-align: center;
  justify-content: center;
}

.Drop_Down_Button {
  display: inline;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 20px;
  color: rgb(242, 250, 166);
  font-weight: 900;
  border-bottom: 2px #ffffff double;
  text-shadow: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #3c73a0;
  border: #3c73a0 2px solid;
  border-radius: 2px;
}

.Drop_Down_Button:hover {
  color: #e6abfd;
  border-bottom: 2px #000000 dashed;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  text-decoration: underline dashed;

}

.Drop_Down_Menu {
  position: relative;
  /* left: 50%; */
  height: 0;
  opacity: 0;
  background-color: #3c73a0;
  border: #3c73a0 solid 5px;
  display: none;
}

.Drop_Down_Menu_Show {
  opacity: 1 !important;
  height: auto !important;
  display: block;
}
